.advantages {
  display: flex;
  background-color: getColor('background');
  padding-bottom: 97px;

  &__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor('title-color');
    padding-bottom: 8px;

    &-image {
      padding-bottom: 16px;
    }
  }

  &__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    color: #000000;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding-left: 30px;
    padding-right: 70px;
  }

  &__item {
    width: 230px;
    height: 156px;
  }

  &__picture {
    background-color: getColor('background');
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages {
    padding-bottom: 140px;
    padding-top: 27px;

    &__list {
      flex-direction: row;
      gap: 60px;
      padding-left: 36px;
      padding-right: 76px;
    }

    &__item {
      width: 180px;
      height: 226px;
    }

    &__title {
      font-size: 48px;
      line-height: 55px;
    }

    &__text {
      font-size: 14px;
      line-height: 174%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
    padding-bottom: 139px;
    padding-top: 39px;

    &__list {
      flex-direction: row;
      gap: 30px;
      padding: 0 115px;
    }

    &__title {
      font-size: 58px;
      line-height: 66px;
    }

    &__text {
      font-size: 16px;
      line-height: 176%;
    }

    &__item {
      width: 330px;
      height: 222px;
    }
  }
}
