.section__contacts{
  
  background: linear-gradient(
    to bottom,
    getColor('basic-color') 12%,
    getColor('background') 12%,
    getColor('background') 88%,
  );
  
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  text-align: left;
  padding-top: 86px;
  width: 100%;

  &__title {
    display: none;
  }

  &__item {
    
    width: calc(100vw-50px);
    max-width: 330px;
    display: flex;
    flex-direction: column;
    padding: 43px 20px 43px 20px;
    margin: 10px 30px 10px 30px;
    background: getColor('basic-color');
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    color: getColor('basic-color');
    margin-bottom: 25px;

    &--cafe {
      width: 80px;
      background: getColor('secound-main');
      border-radius: 4px;
    }

    &--truck {
      width: 130px;
      background: getColor('third-main');
      border-radius: 4px;
    }
  }

  &__city {
    margin-bottom: 10px;
    color: getColor('text');
  }

  &__description {
    
    line-height: 1.5;
    color: getColor('information');
  }

  &__day {
    color: getColor('text');
  }

  &__time {
    color: getColor('title-helper');
  }
  &__underline {
    max-width: 330px;
    padding-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #999;
  }

  &__tel {
    line-height: 1.5;
    color: getColor('information');
    text-decoration: none;
  }

  &__mail {
    line-height: 1.5;
    color: getColor('information');
    text-decoration: none;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
  }
}

.pushbutton {
  height: 44px;
  border-radius: 22px;
  border: 0;
  cursor: pointer;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  &:hover{
    background:getColor('second-hover');
  }
  &--bg:hover{
    background:getColor('button-hover');
  }

  &__red {
    width: 161px;
    margin-bottom: 10px;
    color: getColor('basic-color');
    background: getColor('button-color');
    position: relative;
    padding-right: 15px;
    &::after {
      content: '';
      display: block;

      width: 8px;
      height: 8px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;

      position: absolute;
      right: 20px;
      bottom: 17px;

      rotate: 45deg;
    }
  }
  &__white {
    position: relative;
    width: 161px;
    color: getColor('button-color');
    background: getColor('basic-color');
    &::after {
      content: '';
      display: block;

      width: 8px;
      height: 8px;
      border-top: 2px solid #d41342;
      border-right: 2px solid #d41342;

      position: absolute;
      right: 30px;
      bottom: 17px;

      rotate: 45deg;

      &:hover{
        background: getColor('information');
      }
    }
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section__contacts{
    background: linear-gradient(
      to bottom,
      getColor('basic-color') 22%,
      getColor('background') 22%,
      getColor('background') 78%,
    );
    
  }

  .contacts {
    font-size: 14px;
    line-height: 1.8;
    justify-content: center;
    flex-direction: row;

    &__item {
      display: flex;
      width: calc(100vw-50px);
      max-width: 330px;
      margin: 0 10px;

      &--margin-left{
        margin-left: 0;
      }

      &--margin-right{
        margin-right: 0;
      }
    }

    &__description {
      
      
      
      line-height: 1.6;
    }
    &__header {
      height: 28px;
      font-size: 16px;
      line-height: 1.9;
    }
    &__button {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 81px;
    }

    &__tel {
      line-height: 1.8;
    }
    &__mail {
      line-height: 1.8;
    }
  }
  .pushbutton {
    height: 44px;
    margin-left: 15px;
    margin-bottom: 0;
    &__red {
      width: 191px;
      margin-bottom: 0;
      padding-right: 20px;
      position: relative;

      &::after {
        content: '';
        display: block;

        width: 8px;
        height: 8px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;

        position: absolute;
        right: 35px;
        bottom: 17px;

        rotate: 45deg;
      }
    }

    &__white {
      width: 174px;
      position: relative;
      &::after {
        content: '';
        display: block;

        width: 8px;
        height: 8px;
        border-top: 2px solid #d41342;
        border-right: 2px solid #d41342;

        position: absolute;
        right: 35px;
        bottom: 17px;

        rotate: 45deg;
      }
    }
  }
}

/* DESKTOP*/
@media screen and (min-width: 1280px) {
  .section__contacts{
    background: linear-gradient(
      to bottom,
      getColor('basic-color') 24%,
      getColor('background') 24%,
      getColor('background') 78%,
    );
    
  }


  .contacts {
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    line-height: 1.9;

    &__item {
      
      width: 330px;
      margin: 10px 15px;

      &--margin-left{
        margin-left: 0;
      }

      &--margin-right{
        margin-right: 0;
      }
    }
    &__header {
      height: 28px;
      font-size: 16px;
      line-height: 1.9;
    }
    &__description {
      width: 100%;
      max-width: 243px;
      line-height: 1.9;
    }
    &__tel {
      line-height: 1.9;
    }
    &__mail {
      line-height: 1.9;
    }
    &__button {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 76px;
    }
  }

  .pushbutton {
    height: 44px;
    margin-left: 15px;
    &__red {
      width: 198px;
      margin-bottom: 0;
      padding-right: 20px;
      position: relative;

      &::after {
        content: '';
        display: block;

        width: 8px;
        height: 8px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;

        position: absolute;
        right: 35px;
        bottom: 17px;

        rotate: 45deg;
      }
    }

    &__white {
      width: 180px;
      position: relative;
      &::after {
        content: '';
        display: block;

        width: 8px;
        height: 8px;
        border-top: 2px solid #d41342;
        border-right: 2px solid #d41342;

        position: absolute;
        right: 35px;
        bottom: 17px;

        rotate: 45deg;
      }
    }
  }
}
