.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 750ms, visibility 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;

  &__modal-window {
    position: absolute;
    width: 450px;
    min-height: 609px;
    top: 93px;
    background: getColor('background');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &__close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: getColor('background');
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: getColor('main-color');
      color: getColor('background');
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.order-form {
  display: flex;
  flex-direction: column;
  padding: 40px;

  &__header {
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
    text-align: center;
  }

  &__head {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    gap: 4px;
    color: getColor('info-color');
  }

  &__input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0 20px 0 40px;

    &:hover,
    &:focus {
      outline: none;
      border-color: getColor('main-color');
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      & ~ .order-form__icons {
        fill: getColor('main-color');
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  &__comment {
    resize: none;
    height: 120px;
    padding: 12px 16px;
    overflow: auto;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:hover,
    &:focus {
      outline: none;
      border-color: getColor('main-color');
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::placeholder {
      color: getColor('placeholder-color');
    }
  }

  &__icons {
    position: absolute;
    left: 15px;
    top: 32px;
  }
}

.rules {
  position: relative;
  display: flex;
  font-size: 12px;
  line-height: 1.71;
  color: getColor('info-color');
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  white-space: nowrap;
  gap: 8px;

  &__link {
    text-decoration: none;
    color: getColor('main-color');
  }

  &__input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;

    &:checked {
      background-color: getColor('main-color');
      border-color: getColor('main-color');
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__icon--checked {
    position: absolute;
    top: 5px;
    left: 4px;
  }
}
