<section class="about">
  <h3 class="about__primary-title">Tradition and love</h3>
  <h2 class="about__secondary-title">How it's made?</h2>
  <div class="about__pic-sec">
    <img alt="Picture of a cow with milk" src="" />
  </div>
  <div class="about__text-sec">
    <p class="about__first-paragraph">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>

    <p class="about__secondary-paragraph">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
    </p>

    <button type="button" class="about__button">
      Read more
      <svg></svg>
    </button>
  </div>
</section>
