<div class="customer-reviews container">
  <div class="customer-reviews__review">
    <div class="customer-reviews__block">
      <picture class="customer-reviews__avatar-picture">
        <source
          srcset="./images/desktop/testimonials1.webp 1x, ./images/desktop/testimonials2@2x.webp 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./images/desktop/testimonials1.webp 1x, ./images/desktop/testimonials2@2x.webp 2x"
          media="(max-width: 1199px)"
        />
        <source
          srcset="./images/desktop/testimonials1.webp 1x, ./images/desktop/testimonials2@2x.webp 2x"
          media="(min-width: 1200px)"
        />
        <img
          class="customer-reviews__img"
          src="./images/desktop/testimonials2@2x.webp"
          alt="Customer Avatar"
        />
      </picture>
      <!-- ::before svg-->

      <div class="customer-reviews__quote container">
        <div class="customer-reviews__opinion-block">
          <p class="customer-reviews__opinion">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
    </div>

    <section class="customer-reviews__svg-block container">

      <ul class="customer-reviews__svg-list">
        <li class="customer-reviews__svg-item">
          <svg width="4" height="4" class="customer-reviews__svg-dot">
            <use href="./images/icons.svg#icon-dot"></use>
          </svg>
        </li>

        <li class="customer-reviews__svg-item">
          <svg width="4" height="4" class="customer-reviews__svg-dot">
            <use href="./images/icons.svg#icon-dot"></use>
          </svg>
        </li>

        <li class="customer-reviews__svg-item">
          <svg width="4" height="4" class="customer-reviews__svg-dot">
            <use href="./images/icons.svg#icon-dot"></use>
          </svg>
        </li>
      </ul>
      <div class="customer-reviews__name-div container">
        <h2 class="customer-reviews__name">Emily, Los Angeles</h2>
      </div>
      <div class="customer-reviews__slide-block container">
        <ul class="customer-reviews__second-list">
          <li class="customer-reviews__second-list-item">
            <svg width="12.4" height="11.84" class="customer-reviews__second-svg">
              <use href="./images/icons.svg#icon-Home"></use>
            </svg>
          </li>
          <li class="customer-reviews__second-list-item">
            <svg width="12" height="12" class="customer-reviews__second-svg">
              <use href="./images/icons.svg#icon-Ellipse-7"></use>
            </svg>
          </li>
          <li class="customer-reviews__second-list-item">
            <svg width="12" height="12" class="customer-reviews__second-svg">
              <use href="./images/icons.svg#icon-Ellipse-7"></use>
            </svg>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
