<section class="modal-buy-now is-hidden" data-modal>
  <button type="button" class="modal-buy-now__close" data-modal-close>&#10006;</button>
  <span class="modal-buy-now__title"> Make your order here! </span>
  <form class="modal-buy-now__container">
    <label class="modal-buy-now__label">
      Name
      <input
        class="modal-buy-now__input"
        type="text"
        name="Username"
        placeholder="Your name..."
        required
      />
    </label>
    <label class="modal-buy-now__label">
      Address
      <input class="modal-buy-now__input" type="text" name="Address" />
    </label>
    <label class="modal-buy-now__label">
      Email
      <input
        class="modal-buy-now__input"
        type="email"
        name="Email"
        required
        placeholder="youremail@gmail.com"
      />
    </label>
    <label class="modal-buy-now__label" for="dessert">Dessert</label>
    <select class="modal-buy-now__select" id="dessert" name="country" required>
      <option value="Ice Cream">Ice Cream</option>
      <option value="Dessert">Ice Coffee</option>
      <option value="Milkshake">Milkshake</option>
    </select>

    <label class="modal-buy-now__label">
      Subject
      <textarea
        class="modal-buy-now__comment"
        name="comment"
        placeholder="Wprowadź tekst"
      ></textarea>
    </label>
    <div class="form-button">
      <button class="form-button__send" type="submit">Send</button>
    </div>
  </form>
</section>

<script defer src="js/modal-buy.js"></script>
