<!-- The Modal -->
<div id="modal-buy-now" class="modal-buy-now">
  <!-- Modal content -->
  <div class="modal-buy-now__content" data-modal>
    <span class="close" data-modal-close>&times;</span>

    <h3 class="modal-buy-now__title">Make your order here!</h3>

    <div class="modal-buy-now__container">
      <form>
        <label class="modal-buy-now__label" for="name">Name</label>
        <input
          class="modal-buy-now__input"
          type="text"
          id="fname"
          name="name"
          placeholder="Your name.."
          required
        />

        <label class="modal-buy-now__label" for="name">Address</label>
        <input
          class="modal-buy-now__input"
          type="text"
          id="address"
          name="Address"
          placeholder="Your address.."
          required
        />

        <label class="modal-buy-now__label" for="dessert">Dessert</label>
        <select class="modal-buy-now__select" id="dessert" name="country" required>
          <option value="Ice Cream">Ice Cream</option>
          <option value="Dessert">Ice Coffee</option>
          <option value="Milkshake">Milkshake</option>
        </select>

        <label class="modal-buy-now__label" for="subject">Subject</label>
        <textarea
          class="modal-buy-now__textarea"
          id="subject"
          name="subject"
          placeholder="Write something.."
          style="height: 100px"
        ></textarea>

        <div class="modal-buy-now__btn-box">
          <button type="submit" class="modal-buy-now__btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script defer src="js/modal-buy.js"></script>
