<!-- Aby guzik otwieral popup nalezy dodac mu class="open-popup" onclick="openPopup()"-->
   
        <div class="popup" id="popup">
            <figure class="popup__logo">
                <img src="./images/mobile/cow.webp" alt="cow and pitcher of milk" srcset="./images/mobile/cow@2x.webp 2x" />
            </figure>
            <p class="popup__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore porro
                consectetur in quo et obcaecati dolorum facilis quas excepturi sed ut aliquam perspiciatis, libero vel
                aut laboriosam totam unde!</p>
            <button type="button" class="popup__btn close-popup">Close</button>
        </div>


<script defer src="js/popup.js"></script>

