<!-- Products -->
<section>
  <div class="container products">
    <span class="products__label">100% NATURAL</span>
    <h2 class="products__title">PRODUCTS</h2>

    <ul class="products__grid">
      <li class="products__item">
        <article class="product">
          <img class="product__image" />
          <h3 class="product__name">ICE CREAM</h3>
          <p class="product__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product__button" type="button"></button>
        </article>
      </li>

      <li class="products__item">
        <article class="product">
          <img class="product__image" />
          <h3 class="product__name">ICE COFFEE</h3>
          <p class="product__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product__button" type="button"></button>
        </article>
      </li>

      <li class="products__item">
        <article class="product">
          <img class="product__image" />
          <h3 class="product__name">MILKSHAKES</h3>
          <p class="product__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et. dolore magna aliqua facilisis.</p>
          <button class="product__button" type="button"></button>
        </article>
      </li>
    </ul>
  </div>
</section>
