<section id="products" class="products">
  <div class="container products__wrap">
    <span class="products__label">100% NATURAL</span>
    <h2 class="products__title">PRODUCTS</h2>

    <ul class="products__grid">
      <li class="products__item">
        <picture class="products__pic">
          <source srcset="images/mobile/icecream.webp 1x, images/mobile/icecream@2x.webp 2x"
            media="(max-width: 767px)" />
          <source srcset="images/tablet/icecream.webp 1x, images/tablet/icecream@2x.webp 2x"
            media="(max-width: 1279px)" />
          <source srcset="images/desktop/icecream.webp 1x, images/desktop/icecream@2x.webp 2x"
            media="(min-width: 1280px)" />

          <img src="images/mobile/icecream.webp" alt="pink icecream with strawberry" />
        </picture>
        <article class="product product__bg--pink">
          <h3 class="product__name">ICE CREAM</h3>
          <div class="product-dot">
            <span class="product-dot__item"></span>
            <span class="product-dot__item"></span>
            <span class="product-dot__item"></span>
          </div>
          <p class="product__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product__button open-popup" id="open-popup" type="button"></button>
        </article>
      </li>

      <li class="products__item">
        <picture class="products__pic">
          <source srcset="images/mobile/coffee.webp 1x, images/mobile/coffee@2x.webp 2x" media="(max-width: 767px)" />
          <source srcset="images/tablet/coffee.webp 1x, images/tablet/coffee@2x.webp 2x" media="(max-width: 1279px)" />
          <source srcset="images/desktop/coffee.webp 1x, images/desktop/coffee@2x.webp 2x"
            media="(min-width: 1280px)" />

          <img src="images/mobile/coffee.webp" alt="latte in tall glass" />
        </picture>
        <article class="product product__bg--beige">
          <h3 class="product__name">ICE COFFEE</h3>
          <div class="product-dot">
            <span class="product-dot__item"></span>
            <span class="product-dot__item"></span>
            <span class="product-dot__item"></span>
          </div>
          <p class="product__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product__button open-popup" id="open-popup1" type="button"></button>
        </article>
      </li>

      <li class="products__item">
        <picture class="products__pic">
          <source srcset="images/mobile/shake.webp 1x, images/mobile/shake@2x.webp 2x" media="(max-width: 767px)" />
          <source srcset="images/tablet/shake.webp 1x, images/tablet/shake@2x.webp 2x" media="(max-width: 1279px)" />
          <source srcset="images/desktop/shake.webp 1x, images/desktop/shake@2x.webp 2x" media="(min-width: 1280px)" />

          <img src="images/mobile/shake.webp" alt="chocolate milkshake with whipped cream" />
        </picture>
        <article class="product product__bg--mint">
          <h3 class="product__name">MILKSHAKES</h3>
          <div class="product-dot">
            <span class="product-dot__item"></span>
            <span class="product-dot__item"></span>
            <span class="product-dot__item"></span>
          </div>
          <p class="product__desc open-popup">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product__button open-popup" id="open-popup2" type="button"></button>
        </article>
      </li>
    </ul>
  </div>
</section>
